@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Nunito+Sans:opsz@6..12&family=Roboto+Slab&display=swap');
body{
    width: 1440px;
    height: 900px;
}
a{
    text-decoration: none;  
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;
}
.header__logo {
    width: 201px;
    height: 40px;
    margin: 0 5px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    width: 115px;
    height: 38px;
    border-radius: 100px;
    background:  #5222D0;
    color: #FFF;
    font-size: 13px;
}
.button_basket {
    width: 14px;
    height: 14px;
    margin: 0 5px;
}
.first-title {
    display: flex;
    padding: 25px;
}
h1{
    width: 542px;
    color: #000;
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
}
.paragraph {
    width: 487px;
    color:#000;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 160%;
    padding: 10px;
}
.button_big {
    width: 270px;
    height: 84px;
    color: #FFF;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: 35px;
    margin: 0 5px;
}
.button_buy{
    width: 41.724px;
    height: 28.743px;
    margin: 0 5px;
}
.img_vr {
    width: 1096.34px;
    height: 724.313px;
}
.second-title {
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.second-title__block-img{
    display: flex;
    justify-content: space-between;
}
.second-title__block{
    display: flex;
    justify-content: space-between;
}
.block {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.block__img {
    width: 365px;
    height: 270px;
}
.title {
    width: 365px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 120%;
}
.paragraph_small{
    width: 365px;
}
.subscribe {
    width: 365px;
    height: 233px;
    background:#EC615B;
}
.subscribe__button{
    width: 135px;
    height: 38px;
    margin: 7px 10px;
}
.subscribe__form{
    width: 323px;
    height: 40px;
    margin: 15px;
}
.title_white {
    width: 325px;
    color: #FFF;
    margin: 15px 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.footer__link {
    color: #5222D0;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    line-height: 160%;
    padding: 15px;
    }
.footer__link_grey {
    color: #000;
}